
<mat-grid-list  cols="1" rowHeight="500px" >
    <mat-grid-tile >
       
           
<form [formGroup]="formLogin" action="" class="card">
    <mat-card>
        <mat-card-header>
            <h2>Inicia Sesion</h2>
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="1" rowHeight="100px">
                <mat-grid-tile>
                    <mat-form-field appearance="fill">
                        <mat-label>Ingrese su correo</mat-label>
                        <input matInput type="text"  formControlName="email"  >
                   
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="fill">
                        <mat-label>Ingrese su contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-raised-button color="warn" type="submit" value="Submit" (click)="onSubmit()" [disabled]="formLogin.invalid">Login</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</form>

    
    </mat-grid-tile>
</mat-grid-list>

